<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>선택한 경기 정보</title>
    <link rel="stylesheet" href="/css/firstsm.css">
</head>
<body>

<div class="logo-container">
    <a href="/">
        <img src="/images/logo.jpg" alt="logo">
    </a>
</div>

<!-- 선택한 경기 정보를 표시하는 영역 -->
<div id="match-info">
    <!-- 경기 이미지 -->
    <img class="match-image" id="match-image" src="/images/soc.jpg" alt="match image">

    <!-- 오른쪽 경기 정보 -->
    <div class="match-details">
        <h2 id="match-detail">공연 정보</h2>
        <p id="match-location"></p>
        <p id="match-date"></p>
        <p id="match-time"></p>
        <p id="match-seat-price"></p>
    </div>
</div>

<!-- 예매하기 버튼 -->
<div id="ticket-selection">
    <h2>예매하기</h2>
    <button type="button" onclick="handleTicket()">예매하기</button>
    <button type="button" onclick="handleExit()">뒤로가기</button>
</div>
<img class="match-infoi" id="match-infoi" src="/images/soc.jpg" alt="match infoi">

<script>
    // URL에서 matchId 가져오기
    const urlParams = new URLSearchParams(window.location.search);
    const itemId = urlParams.get('itemId');

    // 경기 정보 표시
    function displayItemInfo() {
        const matchDetailEl = document.getElementById('match-detail');
        const matchLocationEl = document.getElementById('match-location');
        const matchDateEl = document.getElementById('match-date');
        const matchTimeEl = document.getElementById('match-time');
        const matchSeatPriceEl = document.getElementById('match-seat-price');
        const matchImageEl = document.getElementById('match-image'); // 이미지 요소
        const matchInfoImageEl = document.getElementById('match-infoi');

        let matchDetails = '';
        let matchLocation = '';
        let matchDate = '';
        let matchTime = '';
        let matchSeatPrice = '';
        let matchImageSrc = ''; // 이미지 경로 변수 추가
        let matchInfoImageSrc = '';

        // matchId에 따라 경기 정보를 다르게 표시
        switch (itemId) {
            case '10':
                matchDetails = '2024 오페라 투란도트 아레나 디 베로나 오리지널';
                matchLocation = '올림픽체조경기장';
                matchDate = '2024.10.12 ~2024.10.19';
                matchTime = '140분(인터미션 20분 포함)'
                matchSeatPrice = 'A등급 - 100,000<br><br>B등급 - 50,000<br><br>C등급 - 30,000';
                matchImageSrc = '/images/opera.jpg'; // 세 번째 이미지
                matchInfoImageSrc = 'images/operainf.jpg';
                break;
            case '11':
                matchDetails = '콘체르토 마라톤 프로젝트 - 선우예권의 라흐마니노프 피아노 협주곡';
                matchLocation = '예술의전당 콘서트홀';
                matchDate = '2024.10.15';
                matchTime = '120분(인터미션 20분 포함)'
                matchSeatPrice = 'A등급 - 100,000<br><br>B등급 - 50,000<br><br>C등급 - 30,000';
                matchImageSrc = '/images/woo.jpg'; // 세 번째 이미지
                matchInfoImageSrc = 'images/wooinf.jpg';
                break;
            case '12':
                matchDetails = '제4회 SAL 기획공연 ‘BETA’';
                matchLocation = '서강대학교 메리홀 대극장';
                matchDate = '2024.11.08 ~2024.11.09';
                matchTime = '60분'
                matchSeatPrice = 'A등급 - 100,000<br><br>B등급 - 50,000<br><br>C등급 - 30,000';
                matchImageSrc = '/images/sal.jpg'; // 세 번째 이미지
                matchInfoImageSrc = 'images/salinf.jpg';
                break;
            case '13':
                matchDetails = '박창근 장르 with 오케스트라 전국투어 콘서트';
                matchLocation = '경희대학교 평화의전당';
                matchDate = '2024.10.19 ~2024.10.20';
                matchTime = '150분(인터미션 20분 포함)'
                matchSeatPrice = 'A등급 - 100,000<br><br>B등급 - 50,000<br><br>C등급 - 30,000';
                matchImageSrc = '/images/chang2.jpg'; // 세 번째 이미지
                matchInfoImageSrc = 'images/changinf.jpg';
                break;
            default:
                matchDetails = '선택된 공연이 없습니다.';
                matchImageSrc = '/images/default.jpg'; // 기본 이미지
        }

        matchDetailEl.innerHTML = `${matchDetails}`;
        matchLocationEl.innerHTML = `장소: ${matchLocation}`;
        matchDateEl.innerHTML = `날짜: ${matchDate}`;
        matchTimeEl.innerHTML = `공연시간: ${matchTime}`;
        matchSeatPriceEl.innerHTML = `가격: ${matchSeatPrice}`;


        console.log("Selected image source:", matchImageSrc); // 이미지 경로 확인
        console.log("Selected image source:", matchInfoImageSrc); // 이미지 경로 확인
        matchImageEl.src = matchImageSrc;
        matchInfoImageEl.src = matchInfoImageSrc;
    }

    displayItemInfo();

    function handleTicket() {
        // 서버에 로그인 여부를 확인하는 요청을 보냄
        fetch('/checkLogin')
            .then(response => {
                if (response.ok) {
                    // 로그인 상태이면 결제 페이지로 이동
                    location.href = `ticket?matchId=${itemId}`; // matchId 변수 수정
                } else {
                    // 로그인되어 있지 않으면 경고창 띄우고 로그인 페이지로 리다이렉트
                    alert('로그인이 필요합니다.');
                    location.href = 'login';
                }
            })
            .catch(error => {
                console.error('Error checking login status:', error);
            });
    }

    function handleExit() {
        location.href = '/';
    }
</script>

</body>
</html>
