<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <link rel="stylesheet" href="/css/mypage.css">
</head>
<div class="logo-container">
    <a href="/">
        <img src="/images/logo.jpg" alt="logo">
    </a>
</div>
<body>
<h2><span th:text="${session.loggedInUser.username}"></span> 님의 정보</h2>

<div class="info-container">
    <p>아이디: <span th:text="${session.loggedInUser.userId}"></span></p>
    <p>이름: <span th:text="${session.loggedInUser.username}"></span></p>
    <p>핸드폰 번호: <span th:text="${session.loggedInUser.userPhoneNumber}"></span></p>
    <p>이메일: <span th:text="${session.loggedInUser.email}"></span></p>
    <p>생년월일: <span th:text="${session.loggedInUser.userBirthDate}"></span></p>
    <p>성별: <span th:text="${session.loggedInUser.gender}"></span></p>
</div>

<button onclick="location.href='mypage/tickets'">예매내역</button>

<form th:action="@{/logout}" method="post">
    <button type="submit">로그아웃</button>
</form>
</body>
</html>
