<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
</head>
<body>
<h2>예매한 티켓 정보</h2>

<table>
    <thead>
    <tr>
        <th>공연 이름</th>
        <th>예매 시간</th>
        <th>좌석 등급</th>
        <th>가격</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.isEmpty(tickets)}">
        <td colspan="3">예매한 티켓이 없습니다.</td>
    </tr>
    <tr th:each="ticket : ${tickets}">
        <td>콜드플레이 내한공연</td>
        <td th:text="${#temporals.format(ticket.createdAt, 'yyyy-MM-dd')}">예매 시간</td>
        <td th:text="${ticket.seatGrade}">좌석 등급</td>
        <td th:text="${ticket.price}">가격</td>
    </tr>
    </tbody>
</table>

<button onclick="location.href='/mypage'">뒤로 가기</button>
</body>
</html>
