body {
    font-family: Arial, sans-serif;
    color: #000000;
    margin: 0;
    padding: 20px;
}

/* 경기 정보 박스 스타일 */
#match-info {
    display: flex;
    align-items: center;
    border: 2px solid #fbc02d;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

/* 경기 정보 이미지 */
.match-image {
    margin-top: 50px;
    max-width: 200px;
    margin-right: 150px;
    margin-left: 100px;
}

h2 {
    color: #000000;
    margin-bottom: 10px;
    flex-basis: 100%;
}

.match-details {
    flex-grow: 1;
}

.match-infoi {
    margin-left: 200px;
}

/* 버튼 스타일 */
button {
    background-color: #ffd700;
    color: #000;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border-radius: 12px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border: none;
    margin-top: 20px;
}

button:hover {
    background-color: #f57f17;
}

#ticket-selection {
    position: fixed;
    right: 10%; /* 화면 우측에 고정 */
    top: 30%; /* 화면 중간에 고정 */
    transform: translateY(-50%); /* 버튼을 중앙 정렬 */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; /* 박스 안쪽 여백 */
    background-color: #fff; /* 밝은 노란색 배경 */
    border: 3px solid #fbc02d; /* 진한 노란색 테두리 */
    border-radius: 15px; /* 둥근 모서리 */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); /* 그림자 */
}

p {
    font-size: 18px;
    line-height: 1.6;
}

.logo-container {
    padding-bottom: 10px;
}

.logo-container img {
    width: 300px;
    height: auto;
}