<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>티켓 예매</title>
    <link rel="stylesheet" href="/css/sports.css">
</head>
<body>
<div class="logo-container">
    <a href="/">
        <img src="/images/logo.jpg" alt="logo">
    </a>
</div>

<!-- 경기 목록 -->
<ul id="match-list">
    <li class="match-item">
        <img src="/images/kink.jpg" alt="뮤지컬 〈킹키부츠〉" class="thumbnail">
        <div class="match-info">
            <strong>뮤지컬 〈킹키부츠〉</strong>
            <span>장소: 블루스퀘어 신한카드홀</span>
            <span>날짜: 2024.09.07 ~2024.11.10</span>
        </div>
        <button type="button" onclick="selectItem(1)">예매하기</button>
    </li>
    <li class="match-item">
        <img src="/images/gwang.jpg" alt="뮤지컬 〈광화문연가〉" class="thumbnail">
        <div class="match-info">
            <strong>뮤지컬 〈광화문연가〉</strong>
            <span>장소: 디큐브 링크아트센터</span>
            <span>날짜: 2024.10.23 ~2025.01.05</span>
        </div>
        <button type="button" onclick="selectItem(2)">예매하기</button>
    </li>
    <li class="match-item">
        <img src="/images/wash.jpg" alt="뮤지컬 〈빨래〉" class="thumbnail">
        <div class="match-info">
            <strong>뮤지컬 〈빨래〉</strong>
            <span>장소: 인터파크 유니플렉스 2관</span>
            <span>날짜: 2024.06.07 ~2024.12.29</span>
        </div>
        <button type="button" onclick="selectItem(3)">예매하기</button>
    </li>
</ul>

<script>
    function selectItem(itemId) {
        // 선택한 경기 ID를 URL 파라미터로 전송
        location.href = '/inf2?itemId=' + itemId;
    }
</script>

</body>
</html>
