<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모아티켓</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/script/main.js"></script>
</head>
<body>

<header>
    <div class="logo-container">
        <a href="/">
            <img src="/images/logo.jpg" alt="logo">
        </a>
    </div>
    <div class="func-btn">
        <!-- 로그인 안하면 로그인과 회원가입이 보임 -->
        <div th:if="${session.loggedInUser == null}">
            <a href="/login">로그인</a>
            <a href="/signup">회원가입</a>
        </div>

        <!-- 로그인 하면 로그인한 유저의 이름과 마이페이지, 로그아웃 보임 -->
        <div th:if="${session.loggedInUser != null}">
            <span th:text="'환영합니다 , ' + ${session.loggedInUser.username} + '!'"></span>
            <a href="mypage">마이페이지</a>
            <a href="/logout">로그아웃</a>
        </div>
    </div>
</header>

<nav>
    <a href="#">공연</a>
    <a href="Sports">스포츠</a>
    <a href="#">전시/행사</a>
    <a href="#">영화</a>
</nav>

<section id="sliderType05">
    <div class="slider__wrap">
        <div class="slider__img">
            <div class="slider__inner">
                <div class="slider" role="group" aria-label="1/5">
                    <img src="#" alt="이미지6">
                </div>
                <div class="slider" role="group" aria-label="2/5">
                    <img src="#" alt="이미지7">
                </div>
                <div class="slider" role="group" aria-label="3/5">
                    <img src="#" alt="이미지8">
                </div>
                <div class="slider" role="group" aria-label="4/5">
                    <img src="#" alt="이미지9">
                </div>
                <div class="slider" role="group" aria-label="5/5">
                    <img src="#" alt="이미지10">
                </div>
            </div>
        </div>
        <div class="slider__btn">
            <a href="#" class="prev" role="button" aria-label="왼쪽 이미지">prev</a>
            <a href="#" class="next" role="button" aria-label="오른쪽 이미지">next</a>
        </div>
        <div class="slider__dot"></div>
    </div>
</section>

<div class="content">
    <div class="event">
        <img src="https://via.placeholder.com/300x200" alt="Event Image">
        <h2>뮤지컬 - 캣츠</h2>
        <p>2024.10.01 ~ 2024.12.31</p>
    </div>

    <div class="event">
        <img src="https://via.placeholder.com/300x200" alt="Event Image">
        <h2>콘서트 - BTS</h2>
        <p>2024.11.20 ~ 2024.11.22</p>
    </div>

    <div class="event">
        <img src="https://via.placeholder.com/300x200" alt="Event Image">
        <h2>전시회 - 반 고흐</h2>
        <p>2024.09.15 ~ 2024.12.31</p>
    </div>
</div>

<footer>
    <p>&copy; 2024 모아티켓. All rights reserved.</p>
</footer>

</body>
</html>